[2015-09-24 21:29] matthewhoffman opened #2 "region geojson files do not parse properly in standard tools"
I found that geojson files in this repo would not display properly in any off-the-shelf tools I tried:
1. QGIS
2. http://geojson.io/
3. http://geojsonlint.com/
4. http://jansanchez.com/geojson-viewer/
5. https://developers.google.com/maps/documentation/javascript/examples/layer-data-dragndrop

I spent a little while trying to figure out if there was mismatched brackets or something and could not f

[2016-01-21 20:51] xylar opened #5 "Antarctica_IMBIE26 and Antarctica_IMBIE27 have the same geometry"
The `Antarctica_IMBIE26` region (the basin for Larsen C) was not added correctly and instead contains the same geometry as `Antarctica_IMBIE27`.

[code]

[2016-01-21 21:00] stephenprice commented on #5
Ugh. OK, I'll dig into this early next week. I'm going to get back to working on some of the regions stuff then anyway. Thanks for pointing out the mistake. Let me know if that is soon enough.

[2016-01-21 21:15] xylar commented on #5
Yep, that's fine.  I'm working on ice shelves, which will make use of the basins but I'm still more in the mode where I'm figuring out how to do it and I can do that without the Larsen C basin.

[2016-01-28 23:22] xylar commented on #2
@matthewhoffman, I had trouble using shapely within python as well.  I found that the problem was that the coordinates as they were being written out had one less level of square brackets compared with the geojson standard.  I think Doug as just fixed this.  See if you can view the individual region files in standard tools now.  If not, let me know and I'll keep looking into what isn't quite right

[2016-01-29 03:36] douglasjacobsen commented on #2
@xylar and @matthewhoffman You can actually see that this has been fixed by navigating here: https://github.com/MPAS-Dev/geometric_features/blob/master/ocean/region/Adriatic_Sea/region.geojson

[2016-01-29 08:41] xylar commented on #2
GitHub is awesome! @douglasjacobsen, thanks for fixing this.

By the way, here is one of the regions that needs to be fixed because of the -180/180 split.
https://github.com/MPAS-Dev/geometric_features/blob/master/landice/region/Antarctica_IMBIE17/region.geojson

Is it also going to be a problem when latitudes cross +/- 90?  Let's say we started out with a circle around -75 latitude.  Now, let's s

[2016-01-29 15:05] douglasjacobsen commented on #2
@xylar, I'm not 100% sure what has to happen when a region includes a pole. I think your best bet is to try the region in the mask creator tool to see what happens.

However, here is a features file that contains all of the ocean regions. You can click on a specific one to see what it's name is, and maybe that would help with determining what actually has to happen.
https://gist.github.com/douglas

[2016-01-29 15:14] xylar commented on #2
@douglasjacobsen, that's perfect.  I was able to see that the Arctic basin:
https://raw.githubusercontent.com/MPAS-Dev/geometric_features/master/ocean/region/Arctic_Ocean/region.geojson
has the following four points, consistent with my guess about how the pole needs to be treated:

[code]

I will make sure the tool I write handles this.

@matthewhoffman, if you agree that Doug's changes make the f

[2016-01-29 18:32] stephenprice commented on #5
Resolved - see [here](https://github.com/MPAS-Dev/geometric_features/blob/master/landice/region/Antarctica_IMBIE26/region.geojson)

[2016-01-29 18:32] #5 closed

[2016-01-29 22:30] matthewhoffman commented on #2
That does indeed fix the issue for all of the tools I had experimented with!  Thanks @douglasjacobsen (and @xylar for pointing it out).  At least now we have a nice list of web tools for plotting this - though github's rendering is just as good and more convenient!

[2016-01-29 22:30] #2 closed

[2016-02-04 22:29] xylar opened #11 "Plotting doesn't seem to work, at least not for Arctic basin"
I just tried to plot all ocean basins and I found that the Arctic basin is plotting very differently in the 3 different views.  It looks correct on GitHub so I think the problem is somehow with the plotting and not with data itself.

![ocean_basins](https://cloud.githubusercontent.com/assets/4179064/12831857/dd5e93dc-cb96-11e5-9440-3e3acb6737e0.png)

In the figure, I think the North Pole plot is c

[2016-02-04 22:29] xylar commented on #11
@douglasjacobsen or @pwolfram, this is a very low priority issue to fix, but maybe something to look into at some point.

[2016-02-04 22:48] douglasjacobsen commented on #11
On the plus side, github is able to plot it correctly...
https://github.com/MPAS-Dev/geometric_features/blob/master/ocean/region/Arctic_Ocean/region.geojson

[2016-02-05 14:47] pwolfram commented on #11
@xylar and @douglasjacobsen, I think the issue is the singularity at the pole and the way it is represented in the region.  I've added a few more projections at https://github.com/MPAS-Dev/geometric_features/pull/12: 'aeqd', 'eck4', 'cyl', 'merc', 'vandg' which you can try out by inserting these strings in the list at https://github.com/pwolfram/geometric_features/blob/additional_projection_types/

[2016-02-05 22:56] xylar commented on #11
@pwolfram, I guess I'm surprised that a simple cylindrical projection doesn't do the trick for the Arctic basin.  If I just plot the basins in matplotlib without using basemap, everything looks okay...

[2016-02-06 22:55] pwolfram commented on #11
This issue is fixed by #14 and I'm closing it.

[2016-02-06 22:55] #11 closed

[2016-09-09 16:51] milenaveneziani opened #41 "script to join a number of regions together to make one single region"
@xylar, @pwolfram, @douglasjacobsen: tugging you on this, as you are probably most interested to provide input here.

Yesterday, I was trying to create a mask file for ocean basins, and specifically for 2 groups: oceanBasins and oceanBasinsMOC. These groups contain the ocean basins that can now be reproduced by using the drivers that @xylar wrote a few months back.
Let us take Atlantic_MOC as an e

[2016-09-09 17:37] xylar commented on #41
@milenaveneziani, I get what you're saying.  Presumably rather than going through the trouble of joining the geometry into a single region, what is needed is a way to collect geometry from multiple regions together and give it a different name.  I can't recall if something to do that already exists but I think so. @douglasjacobsen, can you comment?

@milenaveneziani, can you be more specific about

[2016-09-09 17:52] milenaveneziani commented on #41
@xylar: I talked with Doug yesterday (he explained the whole process to me, which is why I came to the conclusion that we needed this issue open), and he doesn't think there is such a script now.
We need one single, fused region because we will need to compute specific quantities on each of them. For example MOC or meridional heat transport: we will want to compute these quantities over Atlantic_M

[2016-09-09 17:59] xylar commented on #41
@milenaveneziani, okay, I think I see.  I don't think you mean "fused" in the same way I mean "fused".  It doesn't sound like it matters whether the combined region is made up of multiple polygons or one single polygon, for example.

This should be quite easy to do.  I'll see if I can bang it out this evening.

[2016-09-09 18:03] milenaveneziani commented on #41
I am pretty sure it should be one polygon, especially as far as MOC and MHT computation goes (which are zonal integrals).

[2016-09-09 18:04] milenaveneziani commented on #41
And thanks. I didn't mean to suggest that you should take this on, especially with the ACME deadline looming on.

[2016-09-09 19:07] xylar commented on #41
@milenaveneziani, once the geojson geometry goes through the mask creator, you won't know whether the geojson file was one polygon or a bunch of them.  The mask file will look exactly the same and will have the same area.  But that's largely beside the point.  If I can produce a script that combines a bunch of features into a single feature (and lets you name it whatever you want), you won't reall

[2016-09-09 19:49] milenaveneziani commented on #41
I see what you mean, @xylar. That sounds perfectly fine to me. Thanks.

[2016-09-09 20:57] xylar commented on #41
@milenaveneziani, @douglasjacobsen , I've got a solution that mostly works.  As an example, here's the before and after on the Atlantic_MOC region:

Old method:
![atlantic_moc](https://cloud.githubusercontent.com/assets/4179064/18402576/60680d22-76e0-11e6-86b2-40aeed927078.png)

New method:
![atlantic_moc](https://cloud.githubusercontent.com/assets/4179064/18402598/78c4031c-76e0-11e6-9419-9d2d2700

[2016-09-09 21:09] pwolfram commented on #41
I don't know the exact algorithm used here @xylar, but if you need to preserve the holes you may be able to do this via a union using [shapely](http://toblerity.org/shapely/manual.html#set-theoretic-methods).  I've used shapely before and am of course happy to help out with this if you want.

[2016-09-09 21:26] xylar commented on #41
Turns out the problem is with our plotting software (which maybe I already knew) and not with the geojoson files, which look correct:
https://gist.github.com/xylar/5cda1cf32c80c0ab5259dda1a0ab1de5

[2016-09-09 21:27] xylar commented on #41
@pwolfram, I'm using shapely's cascade_union (which is much faster than union for multiple shapes).  The problem isn't with shapely, it's with our plotting routine in this repo.  Feel free to try to fix it...  I don't have time right now.

[2016-09-09 22:06] xylar commented on #41
#42 Should address this issue.

[2016-09-12 15:59] pwolfram opened #43 "Plotting script does not exclude islands"
As discussed in https://github.com/MPAS-Dev/geometric_features/issues/41, our current plotting script does not exclude holes in Polygons and consequently shades islands.

cc @xylar

[2016-09-12 18:05] xylar commented on #43
I'll look into this when I get a chance.  @pwolfram, if you have time to investigate, that would be good, too.    Polygons and multipolygons are stored as a list of shapes, the first of which is the outline and the rest of which are the holes.  I suspect that only the first polygon is being used or that the holes are being treated incorrectly as normal polygons.  But I haven't investigated.

It wo

[2016-09-12 19:17] pwolfram commented on #43
@xylar, you are right that the first list of points in `coordinates` is the outer polygon and the next items in the list are holes.

I started to investigate this over the weekend but didn't fully get to a viable solution.  I would like to have one more stab before sharing my code.  How quickly do we need this fix @xylar and @milenaveneziani?

It appears we need to use something like `descartes` t

[2016-09-12 19:23] pwolfram commented on #43
Preliminary work is at https://github.com/pwolfram/geometric_features/tree/fix_island_plotting_bug

[2016-09-12 19:30] douglasjacobsen commented on #43
@pwolfram This should be a low priority, as there are alternate methods of plotting that capture the holes correctly. But I think you can spend whatever time you want on fixing it.

[2016-09-12 20:13] xylar commented on #43
Yep, super low priority.  It's just a convenience that we'd like to be able to plot our regions to verify that we're producing what we want.  Given we can use http://geojson.io/ or GitHub itself to view the files, it's not critical.

[2016-09-12 20:37] xylar opened #44 "Islands are included in the definitions of many ocean regions"
Depending on the application, these islands could potentially contribute erroneously to the total area of an ocean region, and should be excluded.

[2016-09-12 20:38] xylar commented on #44
An example:
https://github.com/MPAS-Dev/geometric_features/blob/master/ocean/region/Southern_Ocean/region.geojson

Tasmania and New Zealand should not be part of the `Southern_Ocean` region

[2016-09-12 20:39] douglasjacobsen commented on #44
I wonder if differencing regions with
https://github.com/MPAS-Dev/geometric_features/tree/master/natural_earth/region/Land_Coverage
would provide a fix.

Though, perhaps we need a higher resolution definition of coast lines.

[2016-09-12 20:42] douglasjacobsen commented on #44
I should mention, I used that land coverage region as an example because that's what we use to cull the ocean meshes.

[2016-09-12 20:43] xylar commented on #44
@douglasjacobsen, I was thinking the same.  I think the one complication is that the coastlines might not quite match up in some places.  So what i would ideally do is first "grow" each region by a buffer zone (say 10 km), then, difference out all the neighboring seas and the land coverage.  I'll think about weird corners if that could cause a problem.

[2016-09-12 21:13] xylar commented on #44
Here's an example of what goes wrong with a simple application of:
[code]
https://gist.github.com/xylar/3af3bdcf0552962c64f6a5dd1f9b5008

It looks great in most places (e.g. Argentina, the Falkland Islands) but if you zoom in on Tasmania and New Zealand, you see a little halo of junk that should be part of the Tasman Sea or some other region.  Thus the need to expand each sea a little bit toward t

[2016-09-12 21:18] xylar commented on #44
No, on further thought, you don't know where "land" is to expand into it in cases where islands are erroneously included.  So that approach wouldn't work.  I think the clean up approach will have to be to identify all these tiny little polygons and find out if they border another sea and add move them if so.  Should be possible to automate if we know that the "real" sea is one contiguous polygon (

[2016-09-12 21:19] xylar commented on #44
Anyway, too big a project for 11:30 pm on a Monday.

[2016-09-12 21:26] xylar commented on #43
@pwolfram, one other plotting issue you might look into is that I accidentally merged some transects and regions into the same geojson file (happened to be everything with the tag `Mediterranean_Basin`) and it looked like the transects were getting plotted as polygons instead of lines.  Presumably this is a separate bug but while you're working on plotting...

If you can't recreate this issue, let

[2016-09-12 21:28] pwolfram commented on #44
@xylar and @douglasjacobsen, did the original sources have the islands correct or has the workflow somehow removed them?

[2016-09-12 21:37] xylar commented on #44
@pwolfram, in this particular example, there was no Southern Ocean region in the original source.  I created one by making a rectangle and masking out existing regions from it.  This left islands.

[2016-09-12 21:39] xylar commented on #44
In other cases (e.g. smaller islands in the Atlantic), these were just not excluded from the original source so not introduced as part of processing regions as far as I recall.

[2016-09-12 23:06] pwolfram opened #46 "Generalize plotting to work from geojson / shapely instance"
Plotting currently operates on geojson in an ad-hoc fashion.  To generalize we could:

 1. produce shapely instance from geojson file (readily done via something like
`shape = shapely.geometry.shape(feature['geometry'])`)
 2. plot based on type of shapely instance (e.g., generalize existing [descartes library ](https://bitbucket.org/sgillies/descartes))

[2016-09-12 23:08] pwolfram commented on #43
@xylar, can you please double-check to see if this transects issue still exists following #45?  I think this should fix this issue too...

[2016-09-14 15:31] pwolfram commented on #46
I believe this should be handled in general by #48 (potentially following a minor edit to `plot_features.py`), would you concur @xylar?  If so, once we merge #48, we can close this issue.

[2016-09-14 21:18] xylar commented on #46
I think this issue is addressed sufficiently by #48.  Types other than `Polygon`, `MultiPolygon`, `LineString`, `MultiLineString` and `Point` are not supported elsewhere in this repo (e.g. in utils) so I don't think they should reasonably be expected to be supported by the plotting script.

[2016-09-14 21:19] xylar commented on #46
Oops, shouldn't close this until #48 is merged...

[2016-09-14 21:20] xylar commented on #43
This issue is addressed by #48.

[2016-09-19 20:42] #46 closed

[2016-09-19 20:42] #43 closed

[2016-09-19 20:43] xylar commented on #41
This issue is addressed by #42.

[2016-09-19 20:43] #41 closed

[2016-09-19 20:46] xylar opened #50 "manipulate_features.py has identical functionality to merge_features.py"
I think that @douglasjacobsen had intended to make `manipulate_features.py` be a general script that could perform several operations on features.  However, the current version in the repository is identical to `merge_features.py` other than having a command line argument for an operation and a docstring that describes functionality it doesn't actually implement.

Unless a functioning version of t

[2016-09-19 20:47] xylar commented on #50
@pwolfram, what do you think?

[2016-09-19 21:22] pwolfram commented on #50
@xylar, here is the PR #51 corresponding to this issue.  I completely agree.

[2016-09-19 21:43] #50 closed

[2016-09-20 17:09] xylar commented on #44
I have really been working hard on this one but I'm having trouble getting results that shapely thinks are valid.

My approach has been to gradually expand each sea but mask it by its neighboring seas and by the land coverage.  This should fill in the little gaps between land and ocean regions without ending up with overlap.  However, there are some seemingly pathological bits of topology that kee

[2016-09-26 22:24] pwolfram opened #53 "Plotting error with moll projection for combined Atlantic and Southern Ocean"
Using the file at https://gist.github.com/43b8c23a27a84da35eadd9304a1b3753, there is a plotting error for the moll projection (which does not show up for moll2):

![screenshot 2016-09-26 16 18 41](https://cloud.githubusercontent.com/assets/4295853/18853904/fbe37422-8404-11e6-8e99-7a51c6bcd7eb.png)

Script to reproduce error from repository root:

[code]

Note, found in the process of testing #52.

[2016-09-26 22:41] pwolfram commented on #53
Going further:

[code]

moll is even more visibly messed up (geojson file at https://gist.github.com/79c3cc90ef72ad8320e799c4a54eb203)...

![screenshot 2016-09-26 16 39 28](https://cloud.githubusercontent.com/assets/4295853/18854331/d6425f14-8407-11e6-83a1-dd29efedb4d9.png)

[2016-09-29 08:00] xylar commented on #53
@pwolfram, I can reproduce these bugs and will look into them when I have a chance.

[2016-09-29 13:07] xylar opened #54 "manipulation scripts are not PEP8-compliant"
All 9 scripts for manipulating features are not PEP8-compliant.

[2016-09-29 13:52] xylar commented on #54
I complained about aspects of the PEP8 standard in #52 but I'm coming around to them.  I don't love splitting up strings onto multiple lines but I get that it makes code easier to read.

I don't love having to put spaces around by '%' operators after strings (because `flake8` thinks they're modulo operators) but I also know that we're using an outdated printf-like syntax for string manipulation th

[2016-09-29 14:06] pwolfram opened #56 "Specify output directory for split_features.py for testing purposes"
Following discussion in #52, we could add the option -o to split_features.py to allow a particular output directory to be specified.

cc @xylar

[2016-09-29 14:20] xylar commented on #53
@pwolfram, I strongly suspect this is a bug in how shapes including the south (or presumably also the north) pole are handled in cartopy for this projection.  It should be pretty easy to set up an example where we plot a box similar to the SouthernOcean in a simplified script to indicate the problem.  Note that there are glitches in the Antarctic land coverage in both `moll` and `moll2` projection

[2016-09-29 14:24] pwolfram opened #57 "Update README following refractor of scripts"
Following addition of new features, workflows, etc.  The README should be updated to better reflect the capabilities of the repository.

cc @xylar

[2016-09-29 14:32] xylar commented on #53
@pwolfram, here is a simpler script demonstrating that the problem is with cartopy, not with our plotting routine:
https://gist.github.com/xylar/b5e1835f031d122d98196ba52cacf027

[2016-09-29 15:01] pwolfram commented on #53
@xylar, I agree.  I'll submit an issue with them, will pass on your gist, and reference this issue.

[2016-09-29 15:12] pwolfram commented on #53
The issue is https://github.com/SciTools/cartopy/issues/802, I'm closing this PR for now.

[2016-09-29 15:12] #53 closed

[2016-09-29 15:44] xylar opened #59 "Update critical passages with depths based on bathymetry"
Currently, critical passages have depth properties that were chosen ad hoc to ensure the ocean was deep enough to allow flow along the passage.  A better method would be to break each critical passage into a number of smaller features (say 0.1 degrees long), each with its own depth taken from the ETOPO1 bathymetry.  This way, critical passages could be used without harm in high resolution and lowe

[2016-09-29 15:49] mark-petersen commented on #59
@xylar thanks for this post.  I agree this would make our critical passage routines applicable to all resolutions.

An additional note is that anything we add to initialization now needs to be backwards compatible, so we can still make old meshes when we make small changes (add new tracers, say)

[2016-09-29 16:02] xylar commented on #59
@mark-petersen, in fact the changes @pwolfram just committed could theoretically break backward compatibility already by rounding coordinates slightly differently in the geojson files.  We really need to test that ASAP.

[2016-09-29 16:08] xylar opened #60 "Create develop branch or an ACME v1 tag"
We need to create a develop branch and/or a tag for ACME v1.  Presumably we need to stop making merges to master except where compatible with ACME v1.  This is because we need a way to recreate ACME initial conditions using features from the repo.

[2016-09-29 16:09] xylar commented on #60
@mark-petersen, I could use your thoughts on how to do this best.

[2016-09-29 16:13] xylar commented on #60
@matthewhoffman, I know you're not really using this repo, but maybe you have some thoughts as well?

[2016-09-29 16:38] xylar commented on #60
Part if this process would be figuring out where we need to branch off.  Hopefully everything we've recently committed hasn't broken the the ability to make ACME initial conditions, but if it has we need to figure out how far we need to backtrack to make an ACME v1 compatible tag.

[2016-09-29 17:19] matthewhoffman commented on #60
@xylar , I have only used this repo in passing, but I'm happy to help coordinate ACME-related branching issues.  I think your assessment is correct that having a branch would ensure robustness of the ACME workflow.  I also agree with your assessment of first needing to identify the commit at which ACME still works (which could be the current HEAD) as the first step.  I would suggest waiting to mak

[2016-09-29 17:22] xylar opened #61 "Verify that present repo can bit-for-bit reproduce ACME initial conditions"
We need to make sure the recent changes in the repo haven't broken our ability to recreate existing ACME initial conditions exactly.  This means performing all existing `init_step1` in `global_ocean` test cases both with `master` and with an earlier version of `master` before #52 was merged.

[2016-09-29 17:22] xylar commented on #61
I will try to do this tomorrow.

[2016-09-29 17:29] xylar commented on #60
@matthewhoffman, thanks, that's very helpful.  There are a couple of pull requests and issues in the pipeline that would break ACME initial conditions, but they can remain there for the time being.  But I also think this repo could function largely independently from the other MPAS repos in terms of making a development branch.  There is also a difference here in that we would presumably be making

[2016-09-29 17:34] #56 closed

[2016-09-29 17:41] xylar opened #62 "Provenance for ocean, ice shelf and land ice regions"
Scripts should be added to `feature_creation_scripts` that can recreate all the features in the repository that weren't created by hand.

[2016-09-29 17:42] xylar commented on #62
@stephenprice, if you can give me whatever scripts you used to create the Antarctic features at some point, I can see that they make their way to the repo so we can thereby document how we created the features we're using.  I'll do the same for ocean and ice shelf features as I find time.

[2016-09-29 17:48] pwolfram opened #63 "Potentially remove fix_features_at_prime_meridian.py"
Following discussions with @xylar, `fix_features_at_prime_meridian.py` is not used in current scripts and may not be needed anymore.  If this is the case, we should consider removing this script (or merging it with `fix_features_at_antimeridian.py`).

[2016-09-29 17:49] pwolfram commented on #62
@xylar, should we additionally be somehow documenting the workflow used to produce each derivative feature via a "history" property that records the commands and git hash used to produce the feature?

[2016-09-29 18:24] xylar commented on #62
@pwolfram, I guess that's probably right.  I don't know how to do that effectively so maybe you should make it a separate issue or design document or whatever you think is appropriate.

[2016-10-01 08:57] xylar commented on #44
I have a partial solution to this issue that I will probably submit a PR for once we figure out how we want to handle #60.  My solution will also partially address #62 by using the original [IHO sea areas](http://www.marineregions.org/sources.php#iho) data and adding scripts to `feature_creation_scripts` that recreate the regions that we currently have, moving portions of the South Atlantic and So

[2016-10-01 16:26] xylar commented on #61
# Testing

I performed `init_step1` of the following `global_ocean` test cases:
[code]
once using the `geometric_features` from 9e469ebd286bbc5c10721b387f382e53580708b2 (the current `origin/master`) and once using c97f8c6b05c76c2847e4d562bcb6e33c0b32892d (before changes were made to the way `geojson` files are written out in this repo).

I verified that `xCell` in `culled_mesh_final.nc` and `trans

[2016-10-01 16:26] #61 closed

[2016-10-01 16:28] xylar commented on #60
As I note in #61, I am confident that recent changes to this repo won't affect ACME initial conditions generated with the current `MPAS-Dev/geometric_features/master`.  I think now is the time to create release and develop branches and maybe stop using master.

[2016-10-04 21:08] milenaveneziani opened #65 "groupName removed from geojson files when running setup_MOC_basins and setup_ocean_basins"
After running these two scripts in driver_scripts: setup_MOC_basins and setup_ocean_basins, the resulting geojson files are missing the groupName property.

[2016-10-04 21:24] pwolfram commented on #65
@milenaveneziani, I think this PR https://github.com/MPAS-Dev/geometric_features/pull/52 may have removed the `groupName` property and I'll take a look to see if I can quickly fix this issue.

[2016-10-04 21:44] pwolfram commented on #65
It looks like it was removed much earlier than even that @milenaveneziani.  It was a feature that never appears to be fully used and was replaced in terms of function by tags, unless I'm mistaken.  For instance, in commit `0d6006be285580949d2fb4a0bdfa4d03bb68b2b7`,

[code]

Group names never appear to have been specified.  In recent PRs they appear to have been silently depreciated by tags, e.g.,

[2016-10-04 22:17] milenaveneziani commented on #65
@pwolfram: I don't think it is correct to remove the groupName. I had an email exchange with @xylar prior to submitting this issue and he thought we needed to put it back. I think 'tags' serve a different purpose, although @douglasjacobsen could add more details on this. My feeling is that 'groupName' sits above tags and we need it to specify groups of regions. Say: "OceanBasinsMOC" or "SouthernOc

[2016-10-04 22:24] pwolfram commented on #65
@milenaveneziani, can you please provide more information on a use case for `groupName`?  When would a feature be tagged with this property, for instance?  Is `groupName` used as a filter to specify which of certain properties should be selected, for instance?

I think the more information we have about the usage of this feature the better because right now it is not used at all and is vestigial c

[2016-10-04 22:37] milenaveneziani commented on #65
@pwolfram: I think @xylar or @douglasjacobsen are better positioned to answer the question 'groups' vs 'tags'. The groupName usage I had in mind is to group OceanBasins and OceanBasinsMOC, for example. The first group includes 6 ocean basins that we have defined giving special attention at how we defined the Southern Ocean (it includes the Arctic, SO, Atlantic, Pacific, Indian, and Mediterranean).

[2016-10-04 22:40] pwolfram commented on #65
@milenaveneziani, this is starting to come back to me: the `groupName` is used in MPAS and not just in this repo, right?  If so, it would be a property that could be used in analysis members, right?  If this is the case we need to have a discussion about what functionality is needed to create groups.

[2016-10-04 22:46] milenaveneziani commented on #65
yes, I think so. I personally don't know how we would use 'tags', but I think we definitely want to keep groups.

[2016-10-05 12:07] xylar commented on #65
@milenaveneziani and @pwolfram, it seems like group names should be addressed somehow as part of the driver scripts.  I do not think #66 makes sense until we figure out how this should be handled.  Presumably the group name may be related to a tag used to find regions but it is not obvious that tags serve as a substitute for the group name or that group names can, in general, be derived from tags.

[2016-10-05 14:09] pwolfram commented on #65
@milenaveneziani, do you have a pressing need for the groupName feature?  Otherwise I propose we wait until we can entrain @xylar into the conversation while he is not on travel / vacation.

[2016-10-05 14:44] douglasjacobsen commented on #65
Here is some more information about `groupName`: https://github.com/MPAS-Dev/geometric_features/pull/66#issuecomment-251691765

Additionally, the following comment has information about when groupName disappeared.

[2016-10-05 20:00] pwolfram opened #68 "Testing to ensure requirements are met"
Following the accidental removal of `groupName`, we should consider implementing an integrated testing environment that ensures requirements are met, e.g., minimally that `groupName` and other properties are outputed at appropriate points within the workflow.  Note, there are probably other things that should be tested.

cc @xylar, @milenaveneziani

[2016-10-05 20:58] milenaveneziani opened #69 "Adding definition of MOC regions southern transects to setup_MOC_basins"
The MOC and MHT AM's need both the MOC regions and their southern border for doing their computation. Since these two features need to be consistent with each other, I thought that the driver setup_MOC_basins could do both things:
1) define the MOC ocean basins;
2) pick the southern border of each so defined basin and make a new transect feature.
Does this sound like a reasonable thing to do?

[2016-10-05 22:39] pwolfram commented on #69
@milenaveneziani, how were you planning on defining the southern border?  Were you going to specify at latitude such that the part of the polygon south of the latitude is the transect?

[2016-10-06 04:19] milenaveneziani commented on #69
@pwolfram: each MOC region is defined by a specific southern latitude. I am thinking this is all that is needed as far as geojson files go. Then the mask creator will do its job, and I don't know whether it takes the southern/northern/or closest part of the polygon wrt that latitude.

[2016-10-06 06:31] xylar commented on #69
@milenaveneziani and @pwolfram, I think 2) above would require a new tool and some new features in the repo.  The new tool would be `./intersect_features.py`, which would be the conceptual opposite of the `./difference_features.py` script: The source features would be masked to their intersection with the masking features(s) provided.  The new features would be transects running from -180 to 180 d

[2016-10-06 18:18] milenaveneziani opened #70 "setup_MOC_basins re-defines three Basin regions that are already defined in setup_ocean_basins"
Atlantic_Basin.geojson, Indian_Basin.geojson and Pacific_Basin.geojson are defined by setup_ocean_basins.py (together with 3 more Ocean Basin regions). They are then re-defined in setup_MOC_basins.py and they are different from the equally-named features defined in setup_ocean_basins.

To avoid confusion and also unify the way that all this basin-scale regions (and their groupnames) are defined it

[2016-10-06 20:12] pwolfram commented on #70
Note, this issue was discovered while fullfilling #67.

[2016-10-06 20:17] #65 closed

[2016-10-15 14:23] xylar opened #72 "default groupName needs to be consistent with what MPAS mask creator expects"
in #67, the default name for groups was set to "unspecifiedGroupName" instead of "enterGroupName".  However, as @douglasjacobsen points out in https://github.com/MPAS-Dev/geometric_features/pull/66#issuecomment-251691765, this is not what the MPAS mask creator is expecting.  Either the MPAS mask creator or this repo need to be fixed to be consistent with one another.  My preference is to change th

[2016-10-15 14:31] xylar opened #73 "Consolidate output from driver scripts into single geojson files"
The `setup_MOC_basins.py` and `setup_ocean_basins.py` produce several individual geojson files, each with a single feature but all with the same `groupName`.  Depending on how these features are being used by the MPAS mask creator, it would seem more logical to generate a single file (e.g. `MOCBasins.geojson`) that contains all the features with the same `groupName`.

[2016-10-15 14:35] xylar commented on #73
@milenaveneziani, I think this was my point of confusion in #67.  I don't see why it is useful to assign the same `groupName` to features in several different files.  Instead, all these features should be getting merged into a single file, and that file should be given the appropriate `groupName`.  Is there any situation in your current workflow using the MPAS mask creator where you use the indivi

[2016-10-15 14:37] xylar commented on #73
I think consolidating into single files is the better solution as opposed to #70, where we try to give each constituent feature its own unique file name.  We do not really need to use these individual constituent files.

[2016-10-15 14:41] xylar commented on #70
As I mention in #73, I do not think this is the right approach to cleaning up the driver files.  Instead, I think we want to create the fewest number of `geojson` files necessary to create the masks we need from each set of features.  Perhaps the driver scripts should also delete any intermediate files they create along the way so there is not any confusion about what the final product(s) of each

[2016-10-15 14:43] xylar commented on #73
As I mentioned in #70, I think we may also want to delete intermediate files produced in each driver script so it is clear what is intended to be the final product(s) of each script.

[2016-10-16 16:54] xylar commented on #69
@milenaveneziani wrote:

For each segment of each LineString in a transect feature, the mask creator will find a set of cell centers (and I believe also the edges and vertices, but I've not used that functionality) that are closest to that segment.  I assume you are after the transport across the southern boundary of each basin?  @mark-petersen has used transects in MPAS-O to compute transport so

[2016-10-16 17:08] xylar commented on #70
@milenaveneziani, can you clarify this bullet point from above?

The features you seem to be referring to are `Global_Ocean_65N_to_65S` and `Global_Ocean_90S_to_60S` but it is not clear what you would like to have happen with these features.    The second of these features is used to create the land coverage used in MPAS-O by combining the `natural_earth` feature north of 60S with one or the other

[2016-10-17 15:57] milenaveneziani commented on #70
@xylar: thanks for addressing all these issues at once. I will be going slowly through them between today and tomorrow.
From what understand, your main suggestion is to bundle up all MOC and OceanBasin features in two single features and define their groups in the process, using the respective drivers (bypassing the merge_feature step). I think this is a great idea: the less steps and the less lik

[2016-10-17 16:15] xylar commented on #70
Ah, great!  Now I get it.  That will be very easy to add.

[2016-10-18 13:20] mark-petersen commented on #69
@xylar, the MOC is computed as a stream function Psi(y,z) and can be computed from:
(1) dPsi/dz = V   (V is zonally averaged meridional velocity)
(2) dPsi/dy = W  (W is zonally averaged vertical velocity)
We typically integrate from south to north by latitude bins. For a global MOC Psi=0 at the southern boundary.  For a regional MOC, we integrate (1) downward in z along a transect (~35S for AMOC)

[2016-10-18 13:29] xylar commented on #69
@mark-petersen, thanks for the very clear explanation.  I see now why only the southern boundaries are needed.

[2016-10-18 13:45] xylar commented on #69
@mark-petersen and @milenaveneziani, I suspect the southern boundary transects as currently produced will not lead to the desired behavior when they are run through the mask creator  The issues are two:
  1.  The mask creator may not produce a series of edges that closely follow the southern-boundary transects.  I have found that the cell mask produced by the mask creator covers an arbitrary path

[2016-10-18 14:43] mark-petersen commented on #69
When I implemented transects in matlab years ago, I would start with the edge closest to the starting point.  Then I would choose the next edge from the connecting edges (using edgesOnVertex and verticesOnEdge) that minimize the distance to the final point in (lat,lon) coordinates.  Those transects kept quite close to latitude lines, and did not zig-zag, probably because of my choice of minimizing

[2016-10-18 15:07] xylar commented on #69
@mark-petersen, given that `geometric_features` defines features with lon/lat coordinates, I think it's appropriate to interpolate or find the closest cell in lon/lat space as opposed to using great circles or something like that.  Your code may be helpful for that.  If you or Nils see the zig-zagging I'm talking about, could you post an issue to `MPAS-Tools` and I'll try to fix the mask creator u

[2016-10-18 15:22] pwolfram commented on #69
@xylar and @mark-petersen, would https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm be helpful?  I'm guessing a transect between two points is most simply described as the shortest path along edges between the two points, right?  If so, this could also help deal with issues related to boundaries.

[2016-10-18 15:30] xylar commented on #69
First, I'll say that I don't think this repo is the right place to be having this conversation and I would rather we start an issue under MPAS-Tools.

@pwolfram, that could work if we really want to have a complete path for each transect with no gaps at culled cells.  I would think a simpler algorithm like Mark's could work as long as we are willing to allow gaps in a transect where there is land.

[2016-10-21 14:13] pwolfram opened #76 "Update of Maritime Boundaries Geodatabase"
We may want to consider updating our regions based on the new standards published at http://www.marineregions.org, e.g., see the email below I received this morning:

I'd recommend we try to stay as faithful to this "standard" as possible, but at the same time I don't think we really can afford to change out region definitions too frequently either.  This is obviously an issue up for broad discuss

[2016-10-21 14:52] xylar commented on #76
@pwolfram, I don't think the IHO shape files that we used have been changed in the abovementioned update:
http://www.marineregions.org/downloads.php#iho

So I don't think the changes are relevant to us.  There are several issues with incompatibility of the IHO seas with one another and with the Natural Earth coastline that I'm trying to deal with (see #44).  I will try to make whatever modificatio

[2016-10-21 15:13] pwolfram commented on #76
Agreed @xylar, thanks for the review on this-- I am glad to see that this doesn't affect us but wanted to make sure just in case.

[2016-10-21 15:13] #76 closed

[2016-10-21 22:05] #73 closed

[2016-10-21 22:06] #72 closed

[2016-10-21 23:11] xylar commented on #70
@milenaveneziani can correct me if I'm wrong but I think it is now fully addressed by #74.

[2016-10-21 23:12] xylar commented on #70
Ah, no, it doesn't create the southern boundaries so not yet complete.

[2016-11-06 21:00] pwolfram opened #80 "Consider use of salem to streamline masking and manipulation"
[salem](http://salem.readthedocs.io/en/stable/index.html) may be useful in the current workflow to produce masks and further manipulate data to extend existing functionality using [shapely](http://toblerity.org/shapely/manual.html) as well as [cartopy](http://scitools.org.uk/cartopy/).

[2016-11-06 22:48] xylar commented on #80
Wow, yes, looks promising from the examples.

[2016-11-09 21:00] pwolfram opened #81 "regionmask conversion utility to produce discrete masks"
[regionmask](https://github.com/mathause/regionmask) is a tool to produce masks from geometric definition of regions.  It is a related and potentially helpful tool.

[2017-02-13 10:39] xylar commented on #60
@MPAS-Dev/all-developers, I would like to create a `develop` branch for `geometric_features`.  This would allow improvements that modify existing features without interfering with the ability to recreate the initial conditions currently used by ACME through `master`.

If there are objections, please raise them here and within the next week or so.

[2017-02-13 14:32] mark-petersen commented on #60
@xylar Having both `develop` and `master` branches would require more maintenance and could be confusing.  I want to make sure we have good reasons.  The alternative is to have a single branch and to just adding tags so we can reference back to a particular commit used to make, say, a particular generation of meshes.

A few questions:
1. What is the down side of a single branch with tags, i.e. `AC

[2017-02-13 15:00] xylar commented on #60
@mark-petersen, these are good points and good questions.

We have two sets of divergent needs for this repo.  First, we need to be able to add features to the repo.  This will typically (though perhaps not always!) do no harm to the initialization of MPAS-Ocean (and presumably at some point other components) for ACME.  It seems like this is what `master` could be used for.

At the same time, we n

[2017-02-13 18:52] xylar commented on #70
I'm going to close this issue because we seem to be pretty sure at this point that we won't define the MOC southern boundaries in this repo.  We have at least attempted to define it in MPAS-Tools instead (https://github.com/MPAS-Dev/MPAS-Tools/pull/147).

[2017-02-13 18:52] #70 closed

[2017-02-13 21:17] xylar commented on #69
I'm going to close this issue because I think we've moved this work to MPAS-Tools.

[2017-02-13 21:17] #69 closed

[2017-02-13 21:20] xylar commented on #68
@pwolfram, when you have a free moment (i.e. after March 15th), could you add travis CI to this repo like you did for MPAS-Analysis?  If you get an example test going, I'd be glad to help add meaningful tests of both individual scripts and more complex workflows.

[2017-02-13 23:21] q-rai opened #83 "Region file corresponding to hard-wired regions"
Hi!

As part of my work on adding and testing region file support to some analysis members, I've created geojson files for the hard-wired regions that are used for some analysis members (e.g. Water Mass Census, and Surface Area Weighted Averages).

I propose to add them to this repository, I'm just not sure where exactly and under which name.

Currently, this is a region group containing:
- Arctic

[2017-02-14 07:27] xylar commented on #83
Hi @q-rai, the right way to do this would be the following:
1. put your `OceanRegions.geojson` file in the root of a new branch of `geometric_features`.
2. rename each features to have a unique, descriptive suffix.  For example, your Arctic region needs to be distinct from the `Arctic Ocean` region we already have, and the same for the `Southern Ocean`.  I don't know what the right suffix might be

[2017-02-14 19:32] q-rai commented on #83
Thanks for the detailed response, @xylar!

As for the suffix, maybe @toddringler or @mark-petersen have a suggestion?
I could imagine something along the lines of 'rectangular' as that is something these regions have in common, and which differentiates them from the other regions available.

[2017-02-14 22:20] xylar commented on #83
@q-rai, my preference would be for a suffix that somehow distinguishes their intended use from other region masks.  For example, we currently have a driver script for creating MOC (meridional overturning circulation) regions as a collection of other regions, and we give them a suffix (or maybe a prefix, I don't remember for sure) of MOC.  I realize these features are more general because they're u

[2017-02-14 23:13] q-rai commented on #83
I just double checked. These regions are used for
- Layer Volume Weighted Averages
- Surface Area Weighted Averages
- Water Mass Census

I could name it after one of them? The MOC files are also used for MHT so I figure that wouldn't be an issue.

[2017-02-14 23:37] milenaveneziani commented on #83
@q-rai, @xylar: I think what we actually want for those AM's is the following:
1) compute regional analysis for all 3 of them on the ocean basin regions. These are *not* the currently hard-wired regions, but rather the ones that are created with driver_scripts/setup_ocean_basins.py.
So my preference would be to not have geojson files for the currently hardwired ocean basins (Arctic and Southern Oc

[2017-02-15 09:22] xylar commented on #83
Ah, thank for the clarification, @milenaveneziani.  It sounds like we would need to be careful, then, to integrate these new regions (Nino3.4 and Equatorial) into the driver script that creates the MOC basins.

Also, if the MOC basins are used for more than just the MOC, maybe they should be renamed?

@milenaveneziani and @q-rai, once you have a definitive geojson file with the new regions you'd l

[2017-02-15 16:02] milenaveneziani commented on #83
@xylar: why would we want to integrate the Nino and Equatorial regions into the driver script that creates the MOC basins? Those regions look quite independent to me.
My preference would be to create the following groups:
1) MOC basins (true, they are used for the regional MHT calculation as well, but MOCMHTbasins doesn't sound too good to my ears..)
2) Ocean basins (perhaps these could include th

[2017-02-15 16:20] xylar commented on #83
Ah, okay.  So I guess I misunderstood.  But the same driver that creates the MOC basins and ocean basins would also group the El Niño regions into a combined file with a tag, correct?  So the same driver script would be altered, just slightly differently than what I suggested.

[2017-02-15 16:33] milenaveneziani commented on #83
oh, yes, that sounds good. Should we rename the driver maybe, to something like create_oceanRegion_groups?

[2017-02-15 16:37] xylar commented on #83
@milenaveneziani, so are we agreed that all ocean regions are already covered except the following?
* Equatorial region (-15 to 15), which I will name `Global Ocean 15N to 15S` to be consistent with similar regions already in the database
* Nino 3
* Nino 4
* Nino 3.4

Maybe `create_ocean_region_groups` is a cleaner way of handling case and underscores?

I assume we would call the new group `NinoBa

[2017-02-15 16:50] xylar commented on #83
Actually referring to "El Niño Basins" doesn't really make sense.  Should I just call it `NinoRegionsGroup`?  And tag each feature for that group with `Nino` or maybe `Nino_Region`?

[2017-02-15 17:35] xylar commented on #83
I think #84 should address this issue.  Let me know what we think?

[2017-02-15 18:06] milenaveneziani commented on #83
sounds good to me @xylar. Reviewing #84 now.

[2017-02-15 18:36] milenaveneziani commented on #83
oh, one thing I forgot to ask before reviewing #84: does it make sense to add the Global ocean to the oceanBasinRegionGroup?
I know that the MOC and MHT am's would not benefit from this (because the global calculation is done separately), but wouldn't it be better to do that for the layerWeightedAvgs, the surfaceAvgs and the waterMassCensus AM's? What do you think @q-rai?

[2017-02-15 18:56] q-rai commented on #83
@milenaveneziani MHT is already computing the global MHT alongside (optional) regional MHT, so it wouldn't need an additional region for this. As far as I'm aware, MOC works the same way.
So, I agree that a global region is only required for layerWeightedAvgs, the surfaceAvgs and the waterMassCensus, none of which have a stand-alone global version.

[2017-02-15 18:59] milenaveneziani commented on #83
yes, that's what I thought, thanks for the feedback @q-rai. So, @xylar: how about we add the globalOceanBasin to the OceanBasinRegionGroup in #86?

[2017-02-15 19:00] q-rai commented on #83
@xylar @milenaveneziani Yes, I was just in the process of proposing that over in #84!

[2017-02-19 22:21] pwolfram commented on #68
@xylar, sounds great.  I have it on my calendar.

[2017-03-01 13:22] xylar opened #87 "plot_features.py does not appear to support points"
On IC, I am getting an error when trying to plot a features file containing points:
[code]

[2017-03-22 14:59] pwolfram commented on #68
Closed by #88.

[2017-03-22 14:59] #68 closed

[2017-09-14 13:54] xylar commented on #83
@q-rai and @milenaveneziani, was this addressed back in February by #84?

[2017-09-14 13:55] xylar commented on #63
Addressed by #82

[2017-09-14 13:55] #63 closed

[2017-09-14 13:56] xylar commented on #62
Addressed by #64

[2017-09-14 13:56] #62 closed

[2017-09-14 13:56] xylar commented on #54
Addressed by #82

[2017-09-14 13:56] #54 closed

[2017-09-14 13:56] xylar commented on #57
Addressed by #82

[2017-09-14 13:56] #57 closed

[2017-09-14 13:59] xylar commented on #83
I think so, so I'm going to close.

[2017-09-14 13:59] #83 closed

[2017-12-15 17:53] xylar opened #96 "Provenance producing git errors when not in a valid git repository"
Currently, when any scripts in this repo that create new `geojson` files are run in a directory that is not a git repo (e.g. when setting up MPAS test cases), the following error is produced:
[code]
This is confusing, as it sounds serious but simply means that the git  repo for geometric features could not be located.

This could be addressed in one of 2 ways:
1. `cd` to the location of the script

[2018-02-28 22:35] xylar commented on #60
A tag was created for E3SM v3 grids for MPAS-O and MPAS-SeaIce:

https://github.com/MPAS-Dev/geometric_features/tree/E3SMv3grids

[2018-02-28 22:35] #60 closed

[2018-05-30 20:53] xylar commented on #96
This remains annoying and should be addressed (by me)!

[2018-11-11 18:35] xylar opened #100 "Add or update to IMBIE2 basins"
IMBIE2 basins are available as shape files here: http://imbie.org/imbie-2016/drainage-basins/

They may be preferable compared with the IMBIE1 basins, meaning we may want to replace existing basin definitions or add these new basins.

[2018-11-11 18:36] xylar commented on #100
@stephenprice @matthewhoffman @tongzhangice, what do you think?  Is this a priority for any work you're doing?

[2018-11-13 17:03] stephenprice commented on #100
@xylar, I would put this at a pretty low priority for right now. I don't think there's any harm in using the original IMBIE basins for the time being. Thanks for checking. What's the process for putting this on a "to do" list but with low priority?

[2018-11-13 20:30] xylar commented on #100
I think having an issue on GitHub is the best way to remind me in the distant future that this is a thing and it still needs to happen.  So we'll just leave this lying around...

[2019-01-14 08:31] xylar opened #101 "Support for python 3"
Python 2 is going away and we need to start supporting python 3 before we run into trouble.

[2019-03-13 05:45] xylar commented on #59
We discussed this and decided it's a feature we don't want.

[2019-03-13 05:45] #59 closed

[2019-05-08 15:08] #96 closed

[2019-05-08 15:08] #101 closed

[2019-08-01 21:26] milenaveneziani opened #107 "setup_ocean_region_groups does not appear to work properly"
This came up because I am trying to create consistent MOC regions (ocean basin regions for which we wish to compute the MOC streamfunction and zonal MHT). The plan is to:
1) create the MOC regions feature collection, like we intended to in the beginning;
2) create the southern transect manually, looking at the southern transect in the features in 1) and adding many more points in between (to ensur

[2019-08-01 21:39] milenaveneziani commented on #107
After saving the intermediate-step features to file, I see that the very first MOC region (Atlantic_MOC) gets saved correctly:

![Screen Shot 2019-08-01 at 3 29 45 PM](https://user-images.githubusercontent.com/8237579/62329115-3467cc80-b472-11e9-9670-dc241f639119.png)

but then, for the second feature (IndoPacific_MOC) and right after these lines of code in `setup_ocean_region_groups`:
[code]
the

[2019-08-02 15:58] xylar commented on #107
@milena, I'm not able to reproduce this.  I get a file called `MOCBasins.geojson` that contains all 4 MOC basins, as expected.

[2019-08-02 15:59] milenaveneziani commented on #107
hmm, interesting.. And did you use the `setup_ocean_region_groups` that is currently in `examples\`?

[2019-08-02 16:03] xylar commented on #107
Yep, I'm using the current `MPAS-Dev/geometric_features/master`

[2019-08-02 16:26] xylar commented on #107
Is it possible that you're running from an environment that already has `geometric_features` installed as a package (e.g. the latest `e3sm-unified` 1.2.6)?  I'm not sure that would explain the problem, since the script should work with that `geometric_features` but I'm just trying to check whatever I can think of.

[2019-08-02 16:29] milenaveneziani commented on #107
So, I don't really know what happened.. I re-ran the script just prepending `./` to it and things work now..

[2019-08-02 16:30] milenaveneziani commented on #107
and thinking I wasted so much time on this yesterday. Bah.. Anyways, I'll close this now, thanks for checking this @xylar

[2019-08-02 16:30] #107 closed

[2019-08-02 16:31] milenaveneziani commented on #107
@xylar : do you agree with the plan that I outlined above? (points 1) 2) 3))

[2019-08-02 16:45] xylar commented on #107
@milenaveneziani, you can definitely do that.  The tool I added to MPAS-Tools is supposed to take care of 2) so it might be good to figure out whether it works or if we really do have to do the southern transect manually (a nightmare in the long run!).

[2019-08-02 23:58] milenaveneziani commented on #107
yes, that was this PR:
https://github.com/MPAS-Dev/MPAS-Tools/pull/147
If you scroll to the end, you will see there that we found out things were not working with the high-res mesh. We could try to revisit what the problems were, but do you have time for it? I could probably put aside 1 day of next week, if you think you'll have a spare day. Let's talk more on the phone, if a phone call is easy fo

[2019-08-03 17:20] xylar opened #111 "quick start not parsing in Read The Docs"
https://geometric-features.readthedocs.io/en/latest/quick_start.html

We need to delete the top few lines so the quick start gets parsed from the README.md as expected.

[2019-10-24 17:03] milenaveneziani opened #118 "Redefining Arctic and North Atlantic subpolar regions"
I see the following two main issues with the current definition of 'Arctic' and sub Arctic regions:
1) the current `Arctic` geojson feature is a weird region that covers most of the Arctic, but not quite all of it (excluding coastal seas such the Beaufort Sea, Chukchi Sea, etc);
2) the subpolar North Atlantic regions are defined weirdly sometimes, perhaps more in line with geographical definitions

[2019-10-24 17:18] milenaveneziani commented on #118
**Arctic**

Currently, what we think of for 'Arctic' consists of the following geojson features:
1) Arctic
2) Barentsz (misspelled: should be simply `Barents`)
3) Kara Sea
4) White Sea
5) Laptev Sea
6) East Siberian Sea
7) Chukchi Sea
8) Beaufort Sea (*very* different from typical definition of Beaufort Gyre)
9) Lincoln Sea
10) and then there is a piece of the current Greenland Sea that should go

[2019-10-24 17:39] milenaveneziani commented on #118
# Subpolar North Atlantic

Here is what we have now:
1) Greenland Sea (mostly OK, but extends north of Fram Strait). Includes both Greenland and Iceland Seas
2) Norwegian Sea. Includes both Norwegian and Lofoten Basins
3) Baffin Bay
4) Davis Strait
5) Labrador Sea (different from conventional Lab Sea)
6) Northwestern Passages (consistent of the whole Canadian Archipelago plus Foxe Basin, which to

[2019-10-24 17:39] xylar commented on #118
@milenaveneziani, I don't see a problem with these redefinitions as long as you document your process by putting the script you use to create the new features in
https://github.com/MPAS-Dev/geometric_features/tree/master/feature_creation_scripts
along with your PR(s).

The existing definitions are from:
http://www.marineregions.org/sources.php#iho
Yes, possibly more geographic than oceanographic.

[2019-10-24 18:01] milenaveneziani commented on #118
These are high level suggestions, I haven't included any maps, but please let me know if you'd like to see some specific maps of the current features for reference.
Pinging @proteanplanet (Andrew, I hope :), @maltrud, and @lconlon in case they don't see this and would like to comment.

[2019-10-24 18:02] milenaveneziani commented on #118
Thanks @xylar: I will follow the README instructions better this time around.

[2019-10-24 18:27] milenaveneziani commented on #118
One last thing I forgot to mention: we could also add a 'Irminger Sea' feature in the subpolar North Atlantic regions mentioned above.

[2019-10-28 11:48] xylar commented on #111
Fixed in https://github.com/MPAS-Dev/geometric_features/pull/112

[2019-10-28 11:48] #111 closed

[2019-10-28 16:54] mark-petersen opened #121 "Version of coastline data?"
I am looking for the name of the dataset that we use for the coastlines for culling land cells from global meshes. It is this file:

https://github.com/MPAS-Dev/geometric_features/blob/master/geometric_data/natural_earth/region/Land_Coverage/region.geojson

which only has a label of
[code]

I suspect it is 10m coastline data set found here:
https://www.naturalearthdata.com/downloads/10m-physical-v

[2019-10-28 19:07] xylar commented on #121
I agree.  Doug Jacobsen is likely the one who added this and I doubt he would remember.  Maybe you can figure it out based on the number of polygons in the data set or something like that.

[2019-10-28 23:43] proteanplanet commented on #118
Following our discussion just now, we agreed:
1) The Baltic should always be open, although @xylar has that covered in COMPASS now.
2) We should be mindful of the limnological cost in E3SM, but ideally, it should be included wherever possible.
3) The generation of regions within the Arctic should be altered from the first attached figure:

![RASM_ocean_mask_key](https://user-images.githubuserconte

[2019-10-29 09:29] xylar commented on #118
@proteanplanet et al., where are the definitions of the MASIE regions available?  Or alternatively the RASM variants on them (as they seem to be different)?  If they are available as polygons in some form, I could likely convert them to geojson format in a couple of hours and have the regions up in `geometric_features` later this week.

[2019-10-29 15:21] proteanplanet commented on #118
Hi @xylar and @milenaveneziani:  I'm attaching here the masks I developed on the RASM grid, in case that is of use. @milenaveneziani, when you create the new shapes by combining these with MASIE, please try to preserve the central Arctic outline as best you can, as it almost perfectly matches that used by the Arctic remote sensing community, including the all-important gate across Fram Strait.

[R

[2019-10-29 15:39] milenaveneziani commented on #118
Hi @proteanplanet: Wieslaw did send me the RASM_POP mask file, although I think the map I have (and that you attached) plus a isobath contour will be more helpful to me (and I am hopeful I can find that information on the MASIE link).
More soon..

[2019-10-29 15:56] xylar commented on #118
You don't need the `e3sm` channel but that shouldn't matter.

I was able to create a new environment with it without a problem:
[code]
I know it's tempting to keep your old environment around but it's a much safer practice to make new environments often (and have a recipe for them lying around somewhere) than it is to keep conda-installing package into an existing one.  Packages end up being incom

[2019-10-30 13:09] mark-petersen commented on #121
Doug answered by email:

It looks like the Natural Earth data set has changed since 2015, so we would either need to do some detective work to figure out which dataset was used by today's naming conventions, or better yet, download a current version of the data and go forward.

Looking at the current region.geojson file, it is definitely not 10m. The current options are 10, 50, or 110m, but our fi

[2019-10-30 13:23] mark-petersen commented on #121
This question is sufficiently answered. I think we would need to start fresh with a new dataset to add a version number to that file.

[2019-10-30 13:23] #121 closed

[2019-10-30 14:02] xylar opened #122 "Replace coastline data set with more updated version"
See #121 for some discussion of this issue.

[2019-11-03 17:45] xylar opened #124 "Option to select remote fork other than MPAS-Dev and remote branch/fork with command-line tools"
It is not currently possible to select a remote branch on a fork other than `MPAS-Dev` for downloading `geometric_data`.  Support for other forks would likely be useful for debugging.

It is also not currently possible to make the command-line scripts to point to any remote branch other than the tag associated with the version in `__init__.py`.  This makes debugging similarly challenging.

[2019-11-05 20:27] milenaveneziani commented on #118
Addressed by #123 and #125.

[2019-11-05 20:27] #118 closed

[2020-06-17 19:31] cbegeman opened #139 "Ross Ice Shelf melt time series labels"
Regional labels for the Ross Ice Shelf sectors should be changed from the Rignot et al. labels "Ross West" and "Ross East" to "eastern Ross" and "western Ross," respectively, or similar.

[2020-06-18 15:40] #139 closed

[2021-04-05 09:24] #80 closed

[2021-04-05 09:24] #81 closed

[2021-04-05 09:25] #87 closed

[2022-06-08 03:06] xylar opened #183 "replace `pkg_resources` with `importlib.resources`"
The former is not a built-in part of python, whereas the latter is a standard part of more recent versions of python.

[2022-06-08 03:11] xylar commented on #100
@hollyhan, obviously, we've been thinking of updating to IMBIE2 for 4 years or so...

[2022-06-08 04:12] hollyhan commented on #100
@xylar, yay! I'm glad to be part of this update!

[2022-06-08 16:21] xylar commented on #100
We have just added the ISMIP6 basins in #180.  These are similar to the IMBIE2 basins  but 4 IMBIE2 basins (Filchner and Ronne, East and West Ross)  are combined into 2 basins (FRIS and Ross).  The ISMIP6 basins are also extended onto the continental shelf and beyond (to accommodate ice advance).

@matthewhoffman, @stephenprice, @hollyhan and others, are the ISMIP6 basins sufficient or do we want